html {
  font: 400 medium "Helvetica Neue",Helvetica,sans-serif;
}
/* anchors */
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #069;
}
a:focus,
a:hover,
a:active {
  color: #911;
}
/* blocks */
blockquote {
  background: #fff;
  border: thin #000;
  margin: 0;
  padding: .5rem;
}
cite {
  display: block;
  margin: 0 .2em;
}
pre {
  background: #012;
  border: thin inset #fff;
  border-radius: .5rem;
  color: #0f8;
  margin: 0;
  padding: 1rem;
}
/* code */
code,
kbd,
pre,
samp,
var {
  font-family: Courier New, Courier, monospace;
  font-size: smaller;
}
/* emphasis */
mark {
  background-color: #911;
}
/* figures */
figure,
figcaption {
}
/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: .1rem groove #fff;
  margin-bottom: .2rem;
  margin-top: 1rem;
  padding: 0;
}
/* images */
img {
}
/* grid */
body {
  background: #222;
  color: #ddd;
  display: grid;
  grid-column-gap: .5vw;
  grid-row-gap: 0;
  grid-template-areas:
    'nav contact'
    'nav main'
    'nav license';
  grid-template-columns: 20vw auto;
  grid-template-rows: 2.2rem auto 2rem;
  height: 99vh;
  margin: 0;
  padding: 0;
}
nav {
  background: #000;
  border-radius: .5rem;
  color: #fff;
  grid-area: nav;
  margin: 0;
  padding: .5rem;
}
main {
  background: #ddd;
  color: #222;
  grid-area: main;
  margin: 0;
  padding: 1rem;
}
#contact {
  background: linear-gradient(#000,#012);
  border-radius: .5rem .5rem 0 0;
  color: #ddd;
  font-size: x-small;
  grid-area: contact;
  padding: .5rem;
  text-align: right;
}
#license {
  background: linear-gradient(#012,#000);
  border-radius: 0 0 .5rem .5rem;
  color: #ddd;
  font-size: x-small;
  grid-area: license;
  padding: .5rem;
  text-align: right;
}
/* nav elements */
nav header {
  font-size: 1.2rem;
  margin-bottom: .5rem;
  text-align: center;
}
nav a,
nav summary {
  border-radius: .5rem;
  display: block;
  padding: .25rem .5rem;
  transition: 100ms;
}
nav a:link,
nav a:visited {
  color: #0de;
  text-decoration: none;
}
nav a:focus,
nav a:hover,
nav a:active {
  background: #911;
  color: #fff;
}
nav a[href="#"] {
  border: thin solid #123;
  border-top-color: #069;
  background: #ddd;
  color: #222;
}
nav details {
  margin-top: .25rem;
}
nav details > details,
nav summary ~ a {
  margin-left: .5rem;
}
nav summary {
  border: thin solid #123;
  border-top-color: #069;
}
nav summary:focus,
nav summary:hover {
  background: #555;
}
/* contact elements */
#contact a img {
  border: .1rem solid #0de;
  border-radius: .1rem;
}
#contact a img:link,
#contact a img:visited {
  color: #0de;
}
#contact a img:focus,
#contact a img:hover,
#contact a img:active {
  border-color: #911;
}
#contact address {
  display: inline;
  font: inherit;
  margin: .2rem;
}
#contact img {
  background: #fff;
  height: 1rem;
  width: 1.5rem;
  vertical-align: middle;
}
#contact ul {
  display: inline;
  margin: 0;
  padding: 0;
}
#contact li {
  display: inline;
  margin: 0 .2rem;
}
/* license elements */
#license a {
  text-decoration: none;
}
#license a:link,
#license a:visited {
  color: #0de;
}
#license a:active,
#license a:focus,
#license a:hover {
  color: #f00;
}
